#footer{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}

#menu-menu-footer{
    width: 722px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

footer nav ul li a {
    color: black;
    text-decoration: none;
}

#menu-item-127{
    margin: 0 86px 0 86px;
}

