header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
}

.logo{
    display: flex;
    margin-left: 200px;
    margin-right: 550px;
}

header nav ul li a {
    margin-right: 0;
    font-family: "Space Mono";
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

header nav ul li a:hover {
    font-weight: 700;
  }

header nav ul {
    width: 480px;
    height: 80px;
    display: flex;
    align-items: center;
    list-style: none;
}

#menu-item-117{
    margin: 0 45px 0 45px;
}

#navbar{
    display: none;
}

@media screen and (max-width: 1025px) {

    #navbar{
        display: none;
    }
    .logo{
        margin-left: 150px;
        margin-right: 200px;
    }
}

@media screen and (max-width: 769px) {
    .logo{
        margin-right: 50px;
        margin-left: 100px;
    }
    #menu-menu-principal{
        display: none;
    }

    .main-menu {
        max-width: 100%;
        min-height: 5.5vh;
        position: sticky;
        z-index: 5;
      }
      #navbar {
        height: 70px;
      }
      #navbar {
        display: flex;
    }

      .navbar.toggled ul{
        flex-direction: column;
        padding: 3%;
        background: #E00000;
        transition: all .3s ease-in-out;
        position: absolute;
        z-index: 9999;
        left: 0;
        top: 50px;
        width: 100%;
        align-items: center;
        font-size: 30px;
        height: 100vh;
        justify-content: center;
      }
      header nav ul li a {
        color: white;
        font-size: 38px;
    }
    #menu-menu-principal-1 > li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-117{
        margin: 18px;
    }
    .menu-main-menu-container a:hover {
        font-weight: 700;
    }
    .navbar-burger {
        position: absolute;
        right: 1em;
        bottom: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45px;
        height: 30px;
        background: none;
        cursor: pointer;
        border: none;
      }
      #navbar-burger .menu-main-menu-container {
        width: 100vw;
      }
      
      /*** Styles pour les lignes du bouton burger ***/
      .navbar-burger .line {
        width: 100%;
        height: 3px;
        background-color: #000;
      }
      .navbar-burger.close .line:first-child{
        transform: rotate(45deg) translate3d(14px, 5px, 0) !important;
      }
      
      .navbar-burger.close .line:nth-child(2) {
        opacity: 0 !important;
      }
      
      .navbar-burger.close span.line:last-child {
        transform: rotate(-45deg) translate3d(13px, -4px, 0) !important;
      }
      .navbar-burger.close {
        border: none;
        display: flex;
      }
      /*** Styles pour le menu déroulant ***/
      .menu-header {
        display: none;
      }
    
      /*** Affichage du menu déroulant lorsqu'il est ouvert ***/
      .navbar-content.active {
        display: block;
      }

}

@media screen and (max-width: 425px) {
    .logo{
        margin-top: 15px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 375px) {

    .logo{
        margin-top: 15px;
        margin-left: 40px;
    }
}

