header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    display: flex;
    margin-left: 146px;
    margin-right: 628px;
}

header nav ul li a {
    margin-right: 0;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

header nav ul {
    width: 480px;
    height: 80px;
    display: flex;
    align-items: center;
    list-style: none;
}

#menu-item-117{
    margin: 0 45px 0 45px;
}

.navbar-content{
    display: none;
}

#navbar button{
    display: none;
}

@media screen and (max-width: 1025px) {
    
    .logo{
        display: flex;
        margin-left: 80px;
        margin-right: 329px;
    }

    .navbar-content{
        display: none;
    }
    
    #navbar button{
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .logo{
        display: flex;
        margin-left: 40px;
        margin-right: 129px;
    }

    #menu-menu-principal{
        display: none;
    }

    .navbar-content{
        display: block;
        width: 40px;
        height: 40px;
        background-color: aqua;
        
    }

    .navbar-burger .line {
        width: 100%;
        height: 2px;
        background-color: #000;
        margin-bottom: 4px;
    }

    #navbar button{
        display: block;
        width: 40px;
        height: 40px;
        background-color: red;
    }

}

@media screen and (max-width: 425px) {
    .logo{
        width: 100px;
        display: block;
        margin-left: 40px;
        margin-right: 128px;
    }

    #menu-menu-principal{
        display: none;
    }

    .navbar-content{
        display: block;
        width: 30px;
        height: 30px;
        background-color: aqua;
    }
    
    #navbar button{
        width: 30px;
        height: 30px;
        background-color: red;
    }
}

@media screen and (max-width: 375px) {
    .logo{
        width: 100px;
        display: flex;
        margin-left: 40px;
        margin-right: 128px;
    }

    #menu-menu-principal{
        display: none;
    }

    .navbar-content{
        width: 20px;
        height: 20px;
        display: block;
        background-color: aqua;
        margin-right: 500px;
    }
    
    #navbar button{
        height: 20px;
        width: 20px;
        background-color: red;
    
    }
}

