.container{
    width: 100%;
    max-width: 1191px;
    margin: auto;
    padding: 30px 20px 0;
    font-family: 'Space Mono', monospace;
}

.content {
    margin-top: 20px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: auto 130px auto;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas: "meta photo" "contact navigation-miniature" "photo-apparentee photo-apparentee";
    text-transform: uppercase;
}

.photo-container img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}

.title-photo {
    font-style: italic;
    font-weight: 400;
    font-size: 66px;
    line-height: 58px;
    width: 60%;
    padding: 40px 0;
}

.meta-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

.meta {
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.contact {
    padding: 20px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-contact {
    padding: 15px 100px;
    border-radius: 2px;
    border: none;
    background-color: #D8D8D8;
    cursor: pointer;
}

.arrows {
    display: flex;

}
  
.arrow-left,
.arrow-right {
    margin-right: 50px;
    width: 0px;
    height: 0px;
    margin-top: 80px;
}

.arrow-right img,
.arrow-left img{
    margin-left: 205px;
    cursor: pointer;
}
  
.navigation-miniature{
    width: 100%;
    display: flex;
    align-items: center;
}

.thumbnails {
    opacity: 0;
    width: 81px;
    height: 71px;
    object-fit: cover;
    margin: 0 0 0 70px;
}

.navigation-miniature a{
    opacity: 1;
    transition: all 0.5s ease-in-out;
    position: relative;
    left: 18em;
}

.navigation-miniature a:hover{
    opacity: 0;
}



@media screen and (max-width: 1024px) {
    
    .photo-container{
        width: 100%;
    }

    .container {
        width: 100%;
        max-width: 1190px;
        margin: auto;
        padding: 30px 10px 0;
        font-family: 'Space Mono', monospace;
    }

    body section article div.navigation-miniature{
        width: 70%;
        display: flex;
        align-items: center;
    }

    .thumbnails {
        opacity: 0;
        width: 81px;
        height: 71px;
        object-fit: cover;
        margin: 0 0 0 15px;
    }

    .navigation-miniature a{
        opacity: 0;
        transition: all 0.5s ease-in-out;
        position: relative;
        left: 18em;
    }

    .arrows{
        margin-right: 15px;
    }
}
@media screen and (max-width: 768px) {
    .content {
        display: flex !important;
        flex-direction: column;
    }

    .container {
        width: 100%;
        max-width: 1190px;
        margin: auto;
        padding: 30px 0px 0;
        font-family: 'Space Mono', monospace;
    }

    .logo-header{
        margin-right: 0;
    }

    .meta-photo {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 55em;
        left: 0px;
        align-items: center;
    }

    .photo-container img {
        width: 80%;
        position: relative;
        bottom: 55em;
        left: 5em;
    }

    .title-photo {
        font-size: 90px;
        line-height: 78px;
        width: 75%;
    }

    .meta {
        font-size: 30px;
        position: relative;
        right: 3em;
    }

    .contact {
        gap: 3em;
        flex-direction: column;
    }

    .contact p {
        font-size: 25px;
        position: relative;
        right: 0.5em;
        top: 1em;
    }

    .btn-contact {
        width: 70%;
        height: 20vw;
        font-size: 25px;
    }

    .navigation-miniature {
        width: 50%;
    }

    .arrows{
        display: none;
    }

    body section article div.navigation-miniature{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .content {
        display: flex !important;
        flex-direction: column;
    }

    .container {
        width: 100%;
        max-width: 1190px;
        margin: auto;
        padding: 30px 0px 0;
        font-family: 'Space Mono', monospace;
    }

    .photo-container img {
        bottom: 30em;
        left: 42px;
    }

    .title-photo {
        margin-left: -25px;
        font-size: 46px;
        line-height: 48px;
    }

    .meta-photo {
        top: 35em;
    }

    .meta {
        font-size: 14px;
        left: -4.5em;
    }

    .contact p {
        right: 3em;
        font-size: 14px;
        top: 2em;
    }

    .btn-contact {
        width: 320px;
        height: 60px;
        font-size: 15px;
    }

    body section article div.navigation-miniature{
        display: none;
    }
}  

@media screen and (max-width: 375px) {
    .contact{
        gap: 7em;
    }

    .contact p{
        top: 7em;
        left: -2em;
    }

    .photo-container img {
        bottom: 30em;
        left: 40px;
    }

    .title-photo {
        margin-left: -15px;
    }

    .meta {
        font-size: 14px;
        left: -3.5em;
    }

    .btn-contact {
        width: 295px;
        height: 55px;
        font-size: 12px;
    }
}